{deps_dir, ["deps"]}.

{sub_dirs, ["rel", "apps/gpt"]}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps,
 [
  {riak_dt, ".*", {git, "https://github.com/basho/riak_dt.git", "develop"}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
  {cowboy, "0.8.6", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.6"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {branch, "master"}}},
  {gproc, ".*", {git, "http://github.com/uwiger/gproc.git", {branch, "master"}}}
 ]}.
